*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

#sec{
    display:flex;
    width:100%;
    /* height:100%; */
    
    /* flex-direction: row; */
}

.main{
    background-image: url('./routes/Registry images/marla-prusik-5q1KnUjtjaM-unsplash.jpg');
    background-size:cover;
    width:40%;
    opacity: 0.7;
    /* height:100%; */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 9px;
}

.title-register{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.cont{
    margin-top: 20px;
    text-align: center;
    width:600px;
    font-weight: 800;
}

.sec-main{
    /* display: flex; */
     width:60%;
    height:100%;
    position:relative;

} 

.sec-main p{
    text-align: center;
    margin-top: 30px;
    font-weight: 550;
}

.registration{
    margin-left: 300px;
    margin-top: 30px;
    border:1px dashed rgb(102, 92, 92);
    width:400px;
    padding:17px;
    border-radius: 10px;
    height:75vh;
    overflow-y: auto;
    
}

  /* TO HANDLE LATER */
/* .registartion::-webkit-scrollbar-thumb{
    background: transparent;
    width:0;
} */

.lname{
    margin-bottom: 40px;
    display:flex;
    flex-direction: column;
    
}

.lname label{
    font-size:20px;
    font-weight: 600;
    margin-right: 10px;
    cursor:pointer;
}

.input-fname{
    width:300px;
    height:32px;
    border-radius: 8px;
    transition:all 0.5s ease-in-out 0.5ms;
}

.input-fname:hover{
    transform:translate(2px, 3px);
}

.input-fname:focus{
    width:340px;
}

.input-fname::placeholder{
    font-size: 14px;
    font-weight: 700;
    transition:all 0.5s ease-in-out 0.5ms;
}

.input-fname::placeholder:focus{
    font-size: 16px;
}

#submission{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

.submit{
    margin-top: 20px;
    height:27px;
    padding: 4.5px;
    border-radius: 4px;
    width:60px;
    border:none;
    font-size: 14px;
    font-weight: 800;
    cursor:pointer;
    background-color: #2f5053;
    transition:all 0.4s  ease-in-out 0.35ms ;
}

.submit:hover{
    background-color: black;
    color:white;
    width:63px;
    height:29px;
}

/* .submit:focus{
    height:28px;
    width:63px;
} */

.home-arrow{
    height:26px;
    cursor:pointer;
    position:absolute;
    margin-top:26px;
}



