.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(228, 222, 222);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: purple;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(228, 222, 222);
  }
  .center {
    padding-left: 15px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: grey;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgb(237, 226, 237);
        }

        .icon {
          font-size: 20px;
          color: #7451f8;
        }

        span {
          font-size: 15px;
          font-weight: bold;
          columns: grey;
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOptions {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid purple;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}
